@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
    --primary-color: #337663;
    --secondary-color: #765c33;
    --accent1-color: #878789;
    --accent2-color: #997659;

    --heading-font:var(--heading-font);
    --paragraph-font: sans-serif;

    --nav-background-color: #8cd3b0;
    --nav-link-color: #c5c0cd;
    --nav-hover-link-color: #4327b5;
    --nav-hover-background-color:  #c4a2e1;

}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
body {
    font-family: var(--heading-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: aquamarine;
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    columns: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}