@import url('https://fonts.googleapis.com/ccs2?family=name&family=optional-2nd-name&display=swap');
:root {
    --primary-color: #C6E2E9
    --secondary-color: #FFCAAF
    --accent1-color: #A7BED3
    --accent2-color: #F1FFC4

    --heading-font: inria-serif, serif ;
    --paragraph-font: cormorant, serif ;

    --nav-background-color: #FFCAAF
    --nav-link-color: #F1FFC4
    --nav-hover-lonk-color: #FFCAAF
    --nav-hover-backgound-color: #F1FFC4
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}